<div class="footer">
  <div class="w">
    <div class="links">
      <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a> |
      <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a> |
      <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a> |
      <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a>
    </div>
    <p class="copyright">Copyright @ happymall.com All Right Reserved</p>
  </div>
</div>


<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>